In [1]:
import pandas as pd
import nltk

In [2]:
data = pd.read_csv('reviews_data.csv', index_col=0, skiprows=[x for x in range(1, 10606, 2)])
data.tail()

,business_id,business_review_count,review_id,reviewer_average_stars,reviewer_review_count,reviewer_useful,text
5298,w19cemjVR8u02PgjFpJ7Mw,197,2fno2ou7xMqxo1IsJlMeiw,3.65,89,50,"I have tried the other one on shea, but this i..."
5299,AqbgC7Gul5Es1rRzGNLDFA,362,tfQ0Iu1cribS4ABr0THD3A,3.97,58,50,"Lovely shop, great cupcake selection, friendly..."
5300,uYLbsoytUFMK-mJyQZ6GvQ,4,Wlpd3M0WdtMfUsb3FFC8sw,3.73,146,316,Wow. I forgot that libraries existed. \r\nUnti...
5301,3Z88l4UO-FoNbYk_ZpTScA,6,6h7oNIYKxcPDVcFARWdkhg,3.63,569,2575,We have been using Delia's Cleaners now for ne...
5302,UexMw8s7B1J-RtFOQtCCsQ,31,kc8DFIA1IojQEILuQpPOdA,3.00,3,2,Living in this area I frequent Desert Ridge a ...

In [3]:
data.dtypes

business_id                object
business_review_count       int64
review_id                  object
reviewer_average_stars    float64
reviewer_review_count       int64
reviewer_useful             int64
text                       object
dtype: object

In [4]:
data['text'] = data['text'].astype(str)
data['text'] = data['text'].str.lower()
data['text'] = data['text'].str.replace(r"\r", "")
data['text'] = data['text'].str.replace(r"\n", "")
data['text'] = data['text'].str.replace(r"nan", "")
data['text']

0       my wife took me here on my birthday for breakf...
1       i have no idea why some people give bad review...
2
3       rosie, dakota, and i love chaparral dog park!!...
4       general manager scott petello is a good egg!!!...
5       quiessence is, simply put, beautiful.  full wi...
6       drop what you're doing and drive here. after i...
7       luckily, i didn't have to travel far to make m...
8       definitely come for happy hour! prices are ama...
9       nobuo shows his unique talents with everything...
10      the oldish man who owns the store is as sweet ...
11      wonderful vietnamese sandwich shoppe. their ba...
12      they have a limited time thing going on right ...
13      good tattoo shop. clean space, multiple artist...
14      i'm 2 weeks new to phoenix. i looked up irish ...
15      was it worth the 21$ for a salad and small piz...
16      we went here on a saturday afternoon and this ...
17      okay this is the best place ever! i grew up sh...
18      i met a friend for lunch yesterday. loved the ...
19      they've gotten better and better for me in the...
20      dvap....you have to go at least once in your l...
21      this place shouldn't even be reviewed - becaus...
22      first time my friend and i went there... it wa...
23      u can go there n check the car out. if u wanna...
24      i love this place! i have been coming here for...
25      this place is great.  a nice little ole' fashi...
26      i love love love this place. my boss (who is i...
27      not that my review will mean much given the mo...
28      came here for breakfast yesterday, it had been...
29      always reliably good.  great beer selection as...
                              ...
5273    unique atmosphere in the city of glibert with ...
5274    i used to go to them, but stopped several mont...
5275    my family and i hosted my sister's graduation ...
5276    went here last night for the first time in yea...
5277    it's been awhile since this place was reviewed...
5278    i struggled a lot on whether to give this a 3 ...
5279    one of the most impressive spots in town. lunc...
5280    a few days after the amazing yelp event at bri...
5281    i have been parking here loyally for several y...
5282    this was a nice casino experience.  it wasn't ...
5283                  very nice place and delicious food!
5284    our 1st visit to renegade canteen last night. ...
5285    so many flavors and the ice is melt in your mo...
5286    zipps has good bar food, but the service is us...
5287    i was very impressed and surprised by the qual...
5288    this is about as good as it gets for asian foo...
5289                    stop here every time i'm in town!
5290    in town for our 5 year wedding anniversary.  s...
5291    this is my favorite chipotle to go to because ...
5292    the spring on our garage door broke and we had...
5293    i've only eaten the buffet here and it was goo...
5294    well i liked this place it smokes it's main ri...
5295    the service sucks at matt's. unfortunately for...
5296    this place is essentially a copy of the old fa...
5297    in phoenix on spring break vacation, we found ...
5298    i have tried the other one on shea, but this i...
5299    lovely shop, great cupcake selection, friendly...
5300    wow. i forgot that libraries existed. until re...
5301    we have been using delia's cleaners now for ne...
5302    living in this area i frequent desert ridge a ...
Name: text, Length: 5303, dtype: object

In [6]:
from nltk.tokenize import RegexpTokenizer

tokenizer = RegexpTokenizer(r'\w+')

data['tokens'] = data['text'].apply(tokenizer.tokenize)
data[['text', 'tokens']].head()

,text,tokens
0,my wife took me here on my birthday for breakf...,"[my, wife, took, me, here, on, my, birthday, f..."
1,i have no idea why some people give bad review...,"[i, have, no, idea, why, some, people, give, b..."
2,,[]
3,"rosie, dakota, and i love chaparral dog park!!...","[rosie, dakota, and, i, love, chaparral, dog, ..."
4,general manager scott petello is a good egg!!!...,"[general, manager, scott, petello, is, a, good..."

In [7]:
from nltk.corpus import stopwords

data['tokens'] = data['tokens'].apply(lambda x: [word for word in x if word not in stopwords.words('english')])
data[['text', 'tokens']].head()

,text,tokens
0,my wife took me here on my birthday for breakf...,"[wife, took, birthday, breakfast, excellent, w..."
1,i have no idea why some people give bad review...,"[idea, people, give, bad, reviews, place, goes..."
2,,[]
3,"rosie, dakota, and i love chaparral dog park!!...","[rosie, dakota, love, chaparral, dog, park, co..."
4,general manager scott petello is a good egg!!!...,"[general, manager, scott, petello, good, egg, ..."

In [8]:
words = [word for w in data['tokens'] for word in w]
freq_dist = nltk.FreqDist(words)
print(freq_dist.most_common(50))
freq_dist.plot(50)

[('good', 3567), ('place', 3471), ('food', 3172), ('great', 2721), ('like', 2623), ('one', 2162), ('get', 2029), ('go', 1882), ('time', 1786), ('really', 1781), ('service', 1671), ('would', 1585), ('back', 1561), ('also', 1285), ('love', 1191), ('nice', 1171), ('little', 1166), ('well', 1135), ('even', 1063), ('best', 1048), ('always', 1033), ('pretty', 1004), ('us', 997), ('got', 955), ('much', 918), ('chicken', 914), ('restaurant', 898), ('try', 894), ('ordered', 894), ('people', 880), ('menu', 878), ('think', 868), ('could', 847), ('better', 846), ('know', 843), ('order', 842), ('first', 831), ('bar', 829), ('make', 822), ('friendly', 808), ('never', 805), ('went', 794), ('pizza', 778), ('way', 771), ('staff', 769), ('night', 767), ('cheese', 759), ('going', 733), ('2', 728), ('made', 722)]

In [11]:
#text = '''we went here on a saturday afternoon and this place was incredibly empty.  they had brunch specials going on, including $2 bloody mary's and mimosas, but we were more in the mood for lunch.  except for the bloody mary, i had to try one.  it came out in a high-ball-sized glass.  boo!  but it was really tasty. yay!  the hubby remembered a sign outside the restaurant a few weeks back that said they had arrogant bastard, and he got a 22 oz bottle for $4.75.  hey, that's not fair!!next up: the wings.  we were a bit hesitant to order them when the waitress informed us that they are "seasoned" but not sauced, so they can't be ordered hot.  we did ask for them crispy though, and the waitress even asked the cooks to throw them back in for a few minutes when they came out not visibly crispy.  these non-traditional wings were actually pretty damn good.  the seasoning was a little spicy and salty with just a hint of sweet.  if i were in the mood for the tang and kick of frank's hot sauce, these wouldn't cut it, but otherwise they were good enough to go back again for.my entree was the tilapia salad, and i was a bit disappointed.  the fish was a bit dry and uninspired. and the greens underneath were overdressed and wilted.  i ate the greens around the fish and picked out the almonds and mandarin oranges, but i had to leave the mush hiding underneath the fish.it wasn't bad enough to say i wouldn't go back, but i won't be anxiously awaiting my next trip.'''
#TextBlob(text).sentiment.polarity

-0.04479166666666666

In [12]:
from textblob import TextBlob

def get_sentiment(text): 
        analysis = TextBlob(text) 
        # set sentiment 
        if analysis.sentiment.polarity > 0: 
            return 'positive'
        elif analysis.sentiment.polarity < 0: 
            return 'negative'
        else: 
            return 'neutral'

In [13]:
data['sentiment'] = data['text'].apply(lambda x: get_sentiment(x))
data[['text', 'sentiment']].head()

                                                text sentiment
0  my wife took me here on my birthday for breakf...  positive
1  i have no idea why some people give bad review...  positive
2                                                      neutral
3  rosie, dakota, and i love chaparral dog park!!...  positive
4  general manager scott petello is a good egg!!!...  positive

In [14]:
data.to_csv('reviews_data_sentiment.csv', encoding='utf-8')